body {
    background-color: lightblue;
}
  
h1 {
    color: white;
    text-align: center;
    font-family: verdana;
}

p {
    font-family: verdana;
    font-size: 18px;
    background-color: white;
    width: 500px;
    border: 15px solid purple;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

pre {
    font-family: verdana;
    font-size: 18px;
}

a {
    font-family: verdana;
    font-size: 18px;
}

a:hover {
    color: yellow;
}

div {
    background-color: lightgrey;
    width: 1000px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;
}